<body style="background-color:LightSkyBlue ;">
<!-- Heading-->
<h1>
<font size="6" face="verdana" color="Black">
<center> <b> <u> Hello World!!</b> <u></center>
</h1>

<font size="4" face="verdana" color="Black">
<!-- Table-->

<table border="3">
<caption><u>Student Details</u></caption>
<tr>
<td>Name</td>
 <td>Sipho G.</td>
</tr>
<tr>
<td>Surname</td>
 <td>Moerane</td>
</tr>
<tr>
<td>Degree</td>
 <td>BSc Hons Computer Science</td>
</tr>
<tr>
<td>Student Number</td>
<td>200614420</td>
</tr>
</table>

</body>